#map{
    height: 20em;
}

.map-space{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.leaflet-control-container .leaflet-top .leaflet-control {
    margin-top: 25px;
}

.annonceinfo{
    display: block;
}

.leaflet-popup-content p{
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}

div .bloc{
    margin-bottom: 25px;
}

.maps{
    width: 155px;
    height: 40px;
    background: #72A603;
    border-radius: 30px;
    color: white;
    border: none;
    box-shadow: 5px 4px  10px rgba(0,0,0,0.3);
}

.maps:hover{
    text-shadow: 1px 1px 6px white;
    background: #90ce07;
    transition: background-color 0.5s, text-shadow 0.25s;
    box-shadow: 3px 2px  10px rgba(0,0,0,0.3);
}

form{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}